$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -10px;
  left: 20px;
  font-size: small;
  color: #3b3b3b;
  background-color: #fff;
  padding: 0 5px 0 5px;
  border-radius: 5px 5px 10px 5px;
  border: thin solid #fafafa;
}

.group {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;

  .form-input {
    display: inline-block;
    background-color: #fafafa;
    padding: 20px;
    border: thin solid #fafafa;
    font-size: 18px;

    border-radius: 5px 5px 10px 5px;
 
  min-width: 300px;
    border: none;

    color: #444;
    border-bottom: 1px solid $sub-color;
    margin:  0;

    &:focus {
      border: thin solid #3b3b3b;
      border-bottom: solid medium #3b3b3b;
      background-color: #fff;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 20px;
    transition: 0.2s;
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
   
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
